<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link href="{%  static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
<h1 >Hello There!</h1>
{% if request.user.is_authenticated %}
   <p> {{request.user}} </p>




{% endif %}
<a href="{% url 'new_post'%}"> Create new blog</a>
<h2>Blogs</h2>

    {% for post in post %}
    <li>Title:{{post.title}}</li>
    <pre>Body:{{post.body}}</pre>
    <pre>Time:{{post.created_at}}</pre>
    <pre>Author:{{post.author}}</pre>

<a href="{% url 'delete_post' post.pk%}"> Delete blog</a>
<a href="{% url 'update' post.pk%}">Update blog</a>

    <hr>
    {% endfor%}
</ul>

</body>
</html>